<div class="row">

    <div class="col-md-12 col-sm-6 col-xs-12">

        <!-- Bot list -->
        <div class="x_panel animated fadeIn bot-card">
            <div class="x_title card-title">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h2 class="font-robot">Setup AI</h2>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 form-group top_search card-search">
                    <div class="card-search--form">
                        <i class="fa fa-search"></i>
                        <div class="input-group">
                            <input type="text" ng-model="searchCriteria" class="form-control" placeholder="Search for...">
                        </div>
                    </div>
                </div>

                <div id="card-add-group" class="card-add">
                    <button class="btn card-title--btn-add card-btn" ng-click="showNewCardForm=true" data-toggle="collapse" data-target="#addNewSetUp"
                        data-parent="#card-add-group">New Rule</button>
                    <button class="btn card-title--btn-add card-btn" ng-click="showNewCardTest=true" data-toggle="collapse" data-target="#test"
                        data-parent="#card-add-group">Test</button>

                    <div class="accordion-group">
                        <div class="collapse indent" ng-show="showNewCardForm" id="addNewSetUp">
                            <div class="subcard">
                                <div class="col-sm-12 subcard-title ">
                                    <h2 class="font-robot font-300 font-15">Create New AI Rule</h2>
                                    <div data-toggle="collapse" data-target="#addNewSetUp" ng-click="showNewCardForm=false" class="btn-circle pull-right">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </div>
                                <form name="createSetupai" ng-submit="createSetupAI(setupAI)" class="form-horizontal form-label-left input_mask card-create-bot">
                                    <div class="row no-gutters">

                                        <div class="col-12 col-sm-6 col-md-6 form-group">
                                            <input type="text" class="form-control has-feedback-left" ng-model="setupAI.ruleName" placeholder="Rule Name">
                                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="col-12 col-sm-6 col-md-6 form-group">
                                            <input type="text" class="form-control has-feedback-left" ng-model="setupAI.description" placeholder="Rule Description">
                                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6 form-group">
                                            <label>If User Says Somthing Similar To:*</label>
                                            <tags-input class="form-control" name="createSetupai.events" ng-model="setupAI.events" required></tags-input>
                                        </div>

                                        <div class="col-12 col-sm-6 col-md-6 form-group">
                                            <label>Work Flow Name*</label>
                                            <select class="form-control" name="createSetupai.workFlowName" placeholder="Work Flow Name*" ng-model="setupAI.workFlowName"
                                                ng-options="x.Name as x.DisplayName for x in workFlowNames" required>
                                            </select>
                                        </div>

                                        <div class="col-12 col-sm-6 col-md-6 form-group">
                                            <label>Bot ID*</label>
                                            <select class="form-control" name="createSetupai.botAppId" placeholder="Bot ID*" ng-model="setupAI.botAppId" ng-options="x._id as x.screen_name for x in allbots"
                                                required>
                                            </select>
                                        </div>

                                        <button type="submit" ng-disabled="createSetupai.$invalid" class="btn btn-success btn-block card-btn btn-add-bot pull-right">
                                            Add Rule
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="collapse indent" id="test">
                            <div class="subcard">
                                <div class="col-sm-12 subcard-title ">
                                    <h2 class="font-robot font-300 font-15">Analyse Text</h2>
                                    <div data-toggle="collapse" data-target="#test" ng-click="showNewCardTest=false" class="btn-circle pull-right">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </div>

                                <form name="setTestWorkFlowForText" ng-submit="getworkflowfortextAPIUrl(testWorkFlowForText)" class="form-horizontal form-label-left input_mask card-create-bot">
                                    <div class="row no-gutters">
                                        <div class="col-12 col-sm-6 col-md-12 form-group">

                                            <label>Text</label>
                                            <button style="background-color:#fff; border:none;" ng-if="checkWorkFlowMatching == true">
                                                <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                                            </button>

                                            <textarea required name="setTestWorkFlowForText.message" type="text" class="form-control" ng-model="testWorkFlowForText.message"
                                                placeholder="Check your sample sentences through our AI..." ng-keypress="checkTextForEnter($event)"></textarea>
                                        </div>

                                        <div style="padding: 6px;">
                                            <span>
                                                <span style="color:red">Note:- </span>Entity Analysis inspects the given text for known entities
                                                (proper nouns such as public figures, landmarks, etc.), and returns information
                                                about those entities</span>
                                        </div>

                                        <button type="submit" ng-disabled="setTestWorkFlowForText.$invalid" class="btn btn-success btn-block card-btn btn-add-bot pull-right">
                                            Analyze
                                        </button>

                                        <div class="col-12 col-sm-6 col-md-12" ng-if="checkWorkFlowMatching == false">
                                            <div ng-show="notFound" style="padding: 6px;">
                                                <span style="color:red">{{testWorkForText.CustomMessage}}</span>
                                            </div>

                                            <table class="table" ng-show="checkData">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Matching Work Flow Name</th>
                                                        <th scope="col">Matching Key Words</th>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Salience(%)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{testWorkForText.Result.flowName}}</td>
                                                        <td>
                                                            <div ng-repeat="test in testWorkForText.Result.aiResolution.entities">
                                                                <span>{{test.name}}</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div ng-repeat="test in testWorkForText.Result.aiResolution.entities">
                                                                <span>{{test.type}}</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div ng-repeat="test in testWorkForText.Result.aiResolution.entities">
                                                                <span>{{test.salience * 100}}</span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table class="table" ng-show="notMatchingKeyWord">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Non Matching Keywords Found</th>
                                                        <th scope="col">Type</th>
                                                        <th scope="col">Salience(%)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div ng-repeat="test in testWorkForText.Result.aiResolution.entities">
                                                                <span>{{test.name}}</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div ng-repeat="test in testWorkForText.Result.aiResolution.entities">
                                                                <span>{{test.type}}</span>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div ng-repeat="test in testWorkForText.Result.aiResolution.entities">
                                                                <span>{{test.salience * 100}} </span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <script type="text/javascript">
                    var $myGroup = $('#card-add-group');
                    $myGroup.on('show.bs.collapse', '.collapse', function () {
                        $myGroup.find('.collapse.in').collapse('hide');
                    });
                </script>

                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <ul class="list-unstyled">
                    <li ng-repeat="setupai in allsetupai | filterBy: ['workFlowName']: searchCriteria | orderBy:'-created_at'" style="border-bottom: 1px solid #efefef;">
                        <editsetupai setupai="setupai" botlist="allbots" setupai-type="TemplateCategory" updaterule="updateSetupai(setupai)" delete-setupai="deleteSetupai(setupai)"
                            setupai-Types="TemplateTypes">
                        </editsetupai>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end -->
    </div>

</div>