<div class="row">

    <div class="col-md-12 col-sm-6 col-xs-12">

        <!-- Bot list -->
        <div class="x_panel bg-light-gray animated fadeIn">
            <div class="x_title border-0">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h2 class="font-robot font-300 text-uppercase font-15">New Bot</h2>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6 form-group top_search">
                    <div class="input-group">
                        <input type="text" ng-model="searchCriteria" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="tile-stats m-top15">
                        <form class="form-horizontal form-label-left input_mask">
                            <div class="row no-gutters">
                                <div class="col-12 col-sm-6 col-md-8 form-group has-feedback">

                                    <input type="text" class="form-control has-feedback-left" ng-model="newBot.name" placeholder="Bot Name">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>

                                </div>
                                <div class="col-6 col-md-4 form-group has-feedback">
                                    <button type="button" class="btn btn-success btn-block  btn- pull-right" ng-click="CreateNewBot(newBot)">
                                        Add
                                    </button>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-12 col-sm-6 col-md-8 form-group has-feedback">

                                    <input type="text" class="form-control has-feedback-left" ng-model="newBot.description" placeholder="Bot Description">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>

                                </div>
                                <div class="col-6 col-md-4 form-group has-feedback">
                                    <button type="button" class="btn btn-block  btn- pull-right" ng-click="navigateToUI('console.chatbots.details')">
                                        Details
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end -->

        <!-- view Bot List and Edit -->

        <div class="x_panel">
            <div class="x_content">
                <ul class="list-unstyled timeline">
                    <li ng-repeat="bot in allbots track by $index">
                        <editachatbot bot="bot" updatebot="" reloadpage="reloadPage()">
                        </editachatbot>
                    </li>


                </ul>
            </div>
        </div>


        <!-- end -->
    </div>

</div>