<div role="main">
    <!-- top tiles -->
    <div class="row tile_count" style="background: #383a3b">
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
            <div class="count aero">2500</div>
            <span class="count_bottom"><i class="green ">Total Numbers</i></span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
            <div class="count aero">1225</div>
            <span class="count_bottom"><i class="blue">Total Dialed</i></span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">

            <div class="count aero">1000</div>
            <span class="count_bottom"><i class="purple">Concurrency </i></span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
            <div class="count aero">500</div>
            <span class="count_bottom"><i class="red">Dialing</i></span>
        </div>

    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">




                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <br />

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_320">
                <div class="x_content" >
                    <div class="v_data_loader"  id="v_data_load" ></div>
                    <div id="v_data_grd"  ui-grid="gridQOptions" class="qgrid " ui-grid-move-columns ui-grid-resize-columns  ui-grid-auto-resize ui-grid-pinning></div>

                </div>
            </div>
        </div>

    </div>

</div>