<div style="
background-color: #eaeaea;
padding:  10px;
width:  200px;
float: left;
margin:3px;
">
    <div ng-show="!editMode">
        <a class="font-robot font-300 " ng-click="editCard()">
            <i class="fa fa-plus"></i> New
        </a>
    </div>
    <div ng-show="editMode">
        <input type="text" placeholder="Title" ng-model="newCard.title"/>
        <input type="text" placeholder="Description" ng-model="newCard.sub_title" />
        <input type="url" placeholder="Default Action" ng-model="newCard.default_action.url" />
        <input type="url" placeholder="Image URL" ng-model="newCard.image_url" />
        <span>Buttons</span>
        <input type="button" ng-repeat="button in newCard.buttons" value="{{button.title}}">
        <hr>
        <input type="button" value="Add Card" />
        <input type="button" value="Close" ng-click="editCard()" />
    </div>

</div>